<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>



    <!-- add the custom timesheet icon  -->
    <link rel="icon" type="image/png" href="~/Content/favicon.png" />
    <!--[if IE]>
    <link rel="shortcut icon" href="~/Content.favicon.ico" type="image/vnd.microsoft.icon" />
    <![endif] -->



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TimeSheet 2017", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated && User.Identity.Name.ToString() != "Manager@Timesheet2017.com")
                    {
                        <li>@Html.ActionLink("My Time Sheet", "AssociateView", "TimeLogs")</li>
                    }
                    @if (User.Identity.IsAuthenticated && User.Identity.Name.ToString() == "Manager@Timesheet2017.com")
                    {
                        <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                        <li>@Html.ActionLink("Master Log", "Index", "TimeLogs")</li>
                        <li>@Html.ActionLink("Reporting", "Reporting", "TimeLogs")</li>
                        <li>@Html.ActionLink("Register User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Manage", "Manager", "TimeLogs")</li>
                    }
                </ul>
            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 172bandicoots</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

<!-- Modal under construction-->





</html>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="position: absolute; border: 2px solid #ccc; background-color: #f3f3f3;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="~/Content/favicon.png" style="float: left;" />
                <h3 class="modal-title">  TimeSheet2017</h3>
                <img src="~/Content/Page-Under-Construction-Small.png" style="height: 70%; width: 70%;" />
                <h4>Sorry.  This feature is still under construction.</h4>
            </div>
        </div>
    </div>
</div>
