@model TimeSheet2017.Models.TimeLog

@{
    ViewBag.Title = "Create";
}

<h2>Enter hours worked.</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TimeStamp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*----------------------------------------------------------------------------------------------*@
                @Html.EditorFor(model => model.TimeStamp, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   Value = DateTime.Now,
                   @readonly = "readonly"
               }
           })
                @Html.ValidationMessageFor(model => model.TimeStamp, "", new { @class = "text-danger" })
                @*----------------------------------------------------------------------------------------------*@
            </div>
        </div>

        @*----------------------------------------------------------------------------------------------*@
        <div class="form-group">
            @Html.LabelFor(model => model.AssociateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssociateName, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @Value = ViewBag.AssociateName,
                   @readonly = "readonly"
               }
           })
                @Html.ValidationMessageFor(model => model.AssociateName, "", new { @class = "text-danger" })

                @*----------------------------------------------------------------------------------------------*@
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ClientID, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkDate, new { htmlAttributes = new { @class = "datefield", type="date", Value=DateTime.Today.ToString("d")} })
                @Html.ValidationMessageFor(model => model.WorkDate, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberHours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobNote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobNote, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobNote, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @if(User.Identity.Name == "Manager@Timesheet2017.com")
    {
          @Html.ActionLink("Master Log", "Index")
    }else
    {
          @Html.ActionLink("See Time Sheet", "AssociateView")
    }
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
