@model IEnumerable<TimeSheet2017.Models.TimeLog>

@{
    ViewBag.Title = "Index";
}

<h2>Master Time Log</h2>

<p>
    @Html.ActionLink("Create New Entry", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clients.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssociateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clients.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssociateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogID })
        </td>
    </tr>
}

</table>
